
<%= form_with model: @player do |form| %>
  <% @player.errors.full_messages.each do |message| %>
    <div class="row mb-3 justify-content-center">
      <div class="alert alert-danger col-sm-7"><%= message %></div>
    </div>
  <% end %>
  <div class="row mb-3 justify-content-center">
    <%= form.label :player_name, class: "col-sm-2 col-form-label" %><br>
    <div class="col-sm-5">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="row mb-3 justify-content-center">
    <%= form.label :players_favorite_pokemon, class: "col-sm-2 col-form-label" %><br>
    <div class="col-sm-5">
      <%= form.text_field :favorite_pokemon, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <%= form.submit 'Create / Update Player', class: "btn btn-primary col-sm-7" %>
  </div>
<% end %>
