
<div class="text-center mb-3">
  <%= image_tag("pokemon_league.png", height: 197, width: 173) %>
</div>

<table class="table">
  <tr>
    <th>Player</th>
    <th>Match Wins</th>
    <th>Match Losses</th>
    <th>Game Wins</th>
    <th>Game Losses</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td>
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= player.favorite_pokemon_id %>.png" class="float-start" alt="Pokemans" width="32" height="32">
        <%= link_to player.name, player, class: "list-group-item" %>
      </td>
      <td><%= player.wins_and_losses[:matches_won] %></td>
      <td><%= player.wins_and_losses[:matches_lost] %></td>
      <td><%= player.wins_and_losses[:games_won] %></td>
      <td><%= player.wins_and_losses[:games_lost] %></td>
    </tr>
  <% end %>
</table>
