<h1>Players</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Match Wins</th>
    <th>Match Losses</th>
    <th>Game Wins</th>
    <th>Game Losses</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= link_to player.name, player %></td>
      <td><%= player.wins_and_losses[:matches_won] %></td>
      <td><%= player.wins_and_losses[:matches_lost] %></td>
      <td><%= player.wins_and_losses[:games_won] %></td>
      <td><%= player.wins_and_losses[:games_lost] %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New Player", new_player_path %>