
<div class="text-center">
  <%= image_tag("pokemon_league.png", height: 197, width: 173) %>
</div>
<div class="text-center">
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= rand(1..898) %>.png" alt="Pokemans" width="96" height="96">
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= rand(1..898) %>.png" alt="Pokemans" width="96" height="96">
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= rand(1..898) %>.png" alt="Pokemans" width="96" height="96">
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= rand(1..898) %>.png" alt="Pokemans" width="96" height="96">
  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= rand(1..898) %>.png" alt="Pokemans" width="96" height="96">
</div>

<table class="table">
  <tr>
    <th>Player</th>
    <th>Match Wins</th>
    <th>Match Losses</th>
    <th>Game Wins</th>
    <th>Game Losses</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= link_to player.name, player, class: "list-group-item" %></td>
      <td><%= player.wins_and_losses[:matches_won] %></td>
      <td><%= player.wins_and_losses[:matches_lost] %></td>
      <td><%= player.wins_and_losses[:games_won] %></td>
      <td><%= player.wins_and_losses[:games_lost] %></td>
    </tr>
  <% end %>
</table>
