<h1><%= @player.name %></h1>
<%= link_to "Edit", edit_player_path(@player) %>
<br>
<br>


<p>Match Wins: <%= @player.wins_and_losses[:matches_won] %></p>
<p> Match Losses: <%= @player.wins_and_losses[:matches_lost] %></p>
<p>Game Wins: <%= @player.wins_and_losses[:games_won] %></p>
<p>Game losses: <%= @player.wins_and_losses[:games_lost] %></p>

<table class="table">
  <tr>
    <th>Winner</th>
    <th></th>
    <th></th>
    <th>Loser</th>
    <th>Date</th>
  </tr>
  <% @player.matches.each do |match| %>
    <tr>
      <td><%= link_to match.winner.name, match.winner %></td>
      <td><%= match.winner_score %></td>
      <td><%= match.loser_score %></td>
      <td><%= link_to match.loser.name, match.loser %></td>
      <td><%= match.created_at.strftime('%F') %></td>
    </tr>
  <% end %>
</table>

