<h1><%= @player.name %></h1>
<ul>
  <li><%= link_to "Edit", edit_player_path(@player) %></li>
</ul>

<h2>Match Wins: <%= @player.wins_and_losses[:matches_won] %></h2>
<h2> Match Losses: <%= @player.wins_and_losses[:matches_lost] %></h2>
<h2>Game Wins: <%= @player.wins_and_losses[:games_won] %></h2>
<h2>Game losses: <%= @player.wins_and_losses[:games_lost] %></h2>

<table>
  <tr>
    <th>Winner</th>
    <th></th>
    <th></th>
    <th>Loser</th>
    <th>Date</th>
  </tr>
  <% @player.matches.each do |match| %>
    <tr>
      <td><%= link_to match.winner.name, match.winner %></td>
      <td><%= match.winner_score %></td>
      <td><%= match.loser_score %></td>
      <td><%= link_to match.loser.name, match.loser %></td>
      <td><%= match.created_at.strftime('%F') %></td>
    </tr>
  <% end %>
</table>

