<%= form_with model: @match do |form| %>
  <div>
    <%= form.label :winner %><br>
    <%= form.collection_select :winning_player_id, Player.order(:name),:id,:name, include_blank: true %>
    <% @match.errors.full_messages_for(:winning_player_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :loser %><br>
    <%= form.collection_select :losing_player_id, Player.order(:name),:id,:name, include_blank: true %>
  </div>

  <div>
    <%= form.label :winner_score %><br>
    <%= form.number_field :winner_score %>
  </div>

  <div>
    <%= form.label :loser_score %><br>
    <%= form.number_field :loser_score %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>